.list-group {
    z-index: 1;
    position: absolute;
    top: 10rem;
    left: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    a {
        background: rgba( 255, 255, 255, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0.5px );
        -webkit-backdrop-filter: blur( 0.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        box-shadow: none;
        margin: 1rem;
        border-radius: 1rem;
    }
}