.welcome {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    position: relative;
    display: inline;
    h1 {
        height: 100vh;
        width: 100vw;
        padding: 10rem;
    }

}

.accordion-item {
    .accordion-button {
        &:hover {
            z-index: 1;
        }
    }
    .accordion-collapse {
        .author,
        .edition,
        .keywords {
            font-weight: bold;
        }
    }
}
