.feature-center {
    margin-top: 5rem;
    .row {
        div {
            border-radius: 25px;
            border: 2px solid black;
            padding: 1rem;
            justify-content: center;
            display: flex;
            flex-direction: column;
            position: relative;
            img {
                width: 15rem;
            }
        }
    }


}