.feature-center {
    .row {
        div {
            padding: 1rem;
            flex-direction: row;
            justify-content: flex-start;
            display: flex;
            position: relative;
            img {
                width: 15rem;
                height: max-content;
                margin: auto 1rem;
            }
        }
        .information {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

}